/* List styles. */
/* line 22, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 27, ../sass/style.sass */
table {
  width: 99%;
}

/* line 32, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 35, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 39, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 43, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 51, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 53, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 55, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 57, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 60, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 62, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 64, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 68, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 74, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 78, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 81, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 88, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 92, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 99, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 104, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 109, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* custom style boris   */
/* line 116, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.3em;
  -moz-text-shadow: 0 1px 1px white;
  -webkit-text-shadow: 0 1px 1px white;
  -o-text-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #ad771a;
}
/* line 122, ../sass/style.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: bold;
  font-weight: 700;
  text-decoration: underline;
}

/* line 128, ../sass/style.sass */
#content-header h1 {
  margin-bottom: 0;
}

/* line 132, ../sass/style.sass */
a:hover, a:active, a:link, a:visited {
  color: #635753;
}

/* line 135, ../sass/style.sass */
#site-name {
  padding: 0;
  margin: 7px 0 0 0;
  -moz-text-shadow: 0 4px 4px black;
  -webkit-text-shadow: 0 4px 4px black;
  -o-text-shadow: 0 4px 4px black;
  text-shadow: 0 4px 4px black;
}
/* line 140, ../sass/style.sass */
#site-name a:hover, #site-name a:active, #site-name a:link, #site-name a:visited {
  text-decoration: none;
  color: #ebe5d0;
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: bold;
  font-weight: 100;
  font-size: 3.6em;
  font-style: italic;
  line-height: 1.3em;
  letter-spacing: 0.15em;
}

/* line 149, ../sass/style.sass */
#site-slogan {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: bold;
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  letter-spacing: 0.39em;
  -moz-text-shadow: 0 2px 2px black;
  -webkit-text-shadow: 0 2px 2px black;
  -o-text-shadow: 0 2px 2px black;
  text-shadow: 0 2px 2px black;
}

/* line 156, ../sass/style.sass */
#skip {
  display: none;
}

/* line 159, ../sass/style.sass */
.page-taxonomy .views-field-field-image,
.node-type-object .field-type-image .field-item {
  display: inline;
}
/* line 162, ../sass/style.sass */
.page-taxonomy .views-field-field-image img,
.node-type-object .field-type-image .field-item img {
  border: 2px #eeeeee solid;
  padding: 2px;
  -moz-box-shadow: 1px 1px 3px #bbbbbb;
  -webkit-box-shadow: 1px 1px 3px #bbbbbb;
  box-shadow: 1px 1px 3px #bbbbbb;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}

/* line 169, ../sass/style.sass */
.grid-4 .col-1, .grid-4 .col-2, .grid-4 .col-3, .grid-4 .col-4 {
  width: 143px;
  float: left;
  display: inline;
  margin: 0 4px 0 0;
}

/* line 178, ../sass/style.sass */
.page-taxonomy .view-categoriebeschrijvingen .views-field-description p {
  font-size: 1.5em;
  font-style: oblique;
}

/* line 184, ../sass/style.sass */
.view-taxonomy-term-2 .views-field, .view-taxonomy-term .views-field {
  margin-bottom: 7px;
}
/* line 186, ../sass/style.sass */
.view-taxonomy-term-2 .views-field .views-field-image, .view-taxonomy-term .views-field .views-field-image {
  top: 0px;
}
/* line 188, ../sass/style.sass */
.view-taxonomy-term-2 .views-field .views-field-title, .view-taxonomy-term .views-field .views-field-title {
  top: 20px;
}
/* line 190, ../sass/style.sass */
.view-taxonomy-term-2 .views-field h2, .view-taxonomy-term .views-field h2 {
  font-size: 1.4em;
  line-height: 1.2em;
}
/* line 193, ../sass/style.sass */
.view-taxonomy-term-2 .views-field a, .view-taxonomy-term .views-field a {
  text-decoration: none;
}
/* line 195, ../sass/style.sass */
.view-taxonomy-term-2 .views-field a .views-field-body, .view-taxonomy-term .views-field a .views-field-body {
  top: 60px;
}

/* line 199, ../sass/style.sass */
.item-list ul.pager {
  background: black;
  background: rgba(0, 0, 0, 0.1);
}
/* line 202, ../sass/style.sass */
.item-list ul.pager li {
  margin: 0 0 1.3em 1.3em;
  padding: 0;
}

/* line 207, ../sass/style.sass */
#block-system-main-menu .menu {
  margin: 0;
  padding: 0;
}
/* line 210, ../sass/style.sass */
#block-system-main-menu .menu li {
  float: left;
  font-size: 1.2em;
  list-style: none;
  background: #d3cdc8 url(../images/menubalk.png);
  -moz-border-radius: 75px/67px;
  -webkit-border-radius: 75px/67px;
  border-radius: 75px/67px;
  padding: 6px 6px 10px 8px;
  margin: 0 6px 6px 0;
  -moz-box-shadow: 1px 1px 1px #cccccc;
  -webkit-box-shadow: 1px 1px 1px #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
/* line 221, ../sass/style.sass */
#block-system-main-menu .menu li:hover {
  color: #333333;
}
/* line 223, ../sass/style.sass */
#block-system-main-menu .menu li a {
  text-decoration: none;
  color: white;
  padding: 6px;
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: bold;
  font-weight: 700;
  -moz-text-shadow: 0 1px 1px black;
  -webkit-text-shadow: 0 1px 1px black;
  -o-text-shadow: 0 1px 1px black;
  text-shadow: 0 1px 1px black;
}

/* line 231, ../sass/style.sass */
.view-toon-termen-soorten-objecten .views-row {
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 10px 0;
}

/* line 237, ../sass/style.sass */
.block div.views-row {
  border-bottom: 1px dotted #999999;
  padding: 8px 0;
}
/* line 240, ../sass/style.sass */
.block div.views-row-last {
  border-bottom: none;
}
/* line 243, ../sass/style.sass */
.block .content h3 {
  font-size: 1.2em;
}

/* line 247, ../sass/style.sass */
#content-area .field-name-taxonomy-vocabulary-6, #content-area .field-name-field-gewicht, #content-area .field-name-field-prijs, #content-area .field-name-taxonomy-vocabulary-7 {
  border-bottom: 1px dotted #999999;
}
/* line 249, ../sass/style.sass */
#content-area .field-name-taxonomy-vocabulary-6, #content-area .field-name-field-gewicht, #content-area .field-name-field-prijs, #content-area .field-name-taxonomy-vocabulary-7 {
  line-height: 1.3em;
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
}
/* line 253, ../sass/style.sass */
#content-area .field-name-body {
  font-size: 1.2em;
  margin: 10px 0;
}

/* line 258, ../sass/style.sass */
.view-news .views-field-timestamp, .view-doesdesign-op-het-web .views-field-timestamp {
  font-style: oblique;
}

/* line 261, ../sass/style.sass */
body {
  background: url(../images/achtergrond.jpg) no-repeat fixed center center;
  background-size: 100% 100%;
  padding: 20px 0;
}

/* line 266, ../sass/style.sass */
#block-block-6 {
  background: url(../images/fff-50.png);
  border: 1px dotted #999999;
  padding: 6px;
  margin-bottom: 6p;
}
/* line 273, ../sass/style.sass */
#block-block-6 .content div {
  margin-bottom: 6px;
}

/* line 276, ../sass/style.sass */
#page {
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 0;
}

/* line 282, ../sass/style.sass */
#content_top, #main, #footer {
  border-left: 3px solid #635753;
  border-right: 3px solid #635753;
  background: url(../images/bg-body.jpg);
}
/* line 286, ../sass/style.sass */
#content_top .block, #content_top #content-header, #main .block, #main #content-header, #footer .block, #footer #content-header {
  padding: 15px 15px 0 15px;
}

/* line 290, ../sass/style.sass */
.container .columns {
  margin-left: 14px;
}

/* line 294, ../sass/style.sass */
#content_top {
  border-top: 3px solid #635753;
}

/* line 297, ../sass/style.sass */
#footer {
  border-bottom: 3px solid #635753;
}
/* line 299, ../sass/style.sass */
#footer p {
  font-size: 0.8em;
}

/* line 302, ../sass/style.sass */
h2.block-title {
  font-size: 1.4em;
}

/* line 307, ../sass/style.sass */
.view-sieraden .slide {
  position: relative;
  float: left;
}
/* line 308, ../sass/style.sass */
.view-sieraden .slide img {
  border: 3px #b37649 solid;
}
/* line 312, ../sass/style.sass */
.view-sieraden .slide .text {
  position: absolute;
  top: 236px;
  left: 10px;
  color: white;
  padding: 10px;
}
/* line 318, ../sass/style.sass */
.view-sieraden .slide .text .title {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: 700;
  font-size: 1.7em;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  max-width: 600px;
  overflow: hidden;
  padding: 10px;
}
/* line 328, ../sass/style.sass */
.view-sieraden .slide .text .title a:hover, .view-sieraden .slide .text .title a:active, .view-sieraden .slide .text .title a:link, .view-sieraden .slide .text .title a:visited {
  color: #b37649;
  text-decoration: none;
}
/* line 331, ../sass/style.sass */
.view-sieraden .slide .text p.body {
  background: black;
  background: rgba(0, 0, 0, 0.7);
  max-width: 480px;
  height: 68px;
  padding: 10px;
  margin-top: 5px;
  overflow: hidden;
}

@media all and (max-width: 800px) {
  /* line 341, ../sass/style.sass */
  #block-views-sieraden-block_1 {
    display: none;
  }
}
/* line 345, ../sass/style.sass */
#block-gtranslate-gtranslate h2 {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
}

/* line 351, ../sass/style.sass */
.front #content-header {
  display: none;
}
/* line 353, ../sass/style.sass */
.front #block-views-sieraden-block_1 {
  padding-top: 0;
}

/* line 357, ../sass/style.sass */
.node label {
  font-weight: bold;
}
