$narrow: 482px
$medium: 960px
$wide: 1140px

$breakpoint-default-media: 'all'
$breakpoint-default-feature: 'min-width'
$breakpoint-default-pair: 'width'
$breakpoint-to-ems: false

$break-1: 10
$break-2: 14

$total-columns  : 7
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width