/* List styles. */
/* line 2, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 7, ../sass/style.sass */
table {
  width: 99%;
}

/* line 12, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 15, ../sass/style.sass */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 19, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 23, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 31, ../sass/style.sass */
ul {
  list-style-type: disc;
}
/* line 33, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 35, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 37, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 40, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 42, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 44, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 48, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 54, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 58, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 61, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 68, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 72, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 79, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 84, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 89, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* line 94, ../sass/style.sass */
#page {
  line-height: 1.3em;
  padding: 0;
}
