/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

/* custom style boris   */
#site-name, #site-slogan, h1, h2, h3, h4, h5, h6 {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: 700;
  text-shadow: 0 1px 1px white, 0 -1px #cccccc; }

#header {
  border-top: 10px solid #b7d7d5;
  border-bottom: 1px dotted #cccccc;
  height: 140px;
  margin-bottom: 40px; }

#site-name {
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.3em;
  padding: 0;
  margin: 20px 0 0 0;
  letter-spacing: 0.1em; }
  #site-name a:hover, #site-name a:active, #site-name a:link, #site-name a:visited {
    border-top: 5px solid #333333;
    text-decoration: none;
    padding: 4px 0; }

#site-slogan {
  font-size: 1.5em;
  color: #b7d7d5; }

#skip {
  display: none; }

.page-taxonomy .views-field-field-image,
.node-type-object .field-type-image .field-item {
  display: inline; }
  .page-taxonomy .views-field-field-image img,
  .node-type-object .field-type-image .field-item img {
    border: 10px #eeeeee solid;
    border-bottom: 40px #eeeeee solid;
    margin: 0 14px 0 0;
    padding: 2px;
    -moz-box-shadow: 0px 1px 2px #111111;
    -webkit-box-shadow: 0px 1px 2px #111111;
    box-shadow: 0px 1px 2px #111111;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px; }

.grid-4 .col-1, .grid-4 .col-2, .grid-4 .col-3, .grid-4 .col-4 {
  width: 160px;
  float: left;
  display: inline; }

.view-taxonomy-term .views-field {
  position: relative; }
  .view-taxonomy-term .views-field .views-field-image {
    top: 0px; }
  .view-taxonomy-term .views-field .views-field-title {
    top: 20px; }
  .view-taxonomy-term .views-field h2 {
    font-size: 1.4em;
    line-height: 1.4em; }
  .view-taxonomy-term .views-field a {
    text-decoration: none; }
    .view-taxonomy-term .views-field a .views-field-body {
      top: 60px; }

/* pager css style from http://woork.blogspot.be/2008/03/perfect-pagination-style-using-css.html */
.pager li {
  border: 0;
  margin: 0 0 0 2px;
  padding: 0;
  font-size: 11px;
  list-style: none; }
.pager a {
  border: solid 1px #9aafe5;
  margin: 0 0 0 2px; }
  .pager a:link, .pager a:visited {
    color: #0e509e;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none; }
  .pager a:hover {
    border: solid 1px #0e509e; }
.pager .next a, .pager .previous a {
  font-weight: bold; }
.pager .previous-off, .pager .next-off {
  border: solid 1px #dedede;
  color: #888888;
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 3px 4px; }
.pager .active, .pager .pager-current {
  background: #2e6ab1;
  color: white;
  font-weight: bold;
  display: block;
  float: left;
  padding: 4px 6px; }

#block-system-main-menu {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: 700;
  opacity: .70;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .70;
  -moz-opacity: .70; }
  #block-system-main-menu .menu {
    margin: 0;
    padding: 0; }
    #block-system-main-menu .menu li {
      float: left;
      list-style: none;
      background: black;
      -moz-box-shadow: 0px 1px 2px #111111;
      -webkit-box-shadow: 0px 1px 2px #111111;
      box-shadow: 0px 1px 2px #111111;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
      border-radius: 4px 4px 4px 4px;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      padding: 6px 6px 9px 6px;
      margin: 0 6px 6px 0; }
      #block-system-main-menu .menu li:hover {
        background: white; }
      #block-system-main-menu .menu li a {
        text-decoration: none;
        padding: 6px; }
        #block-system-main-menu .menu li a:hover, #block-system-main-menu .menu li a:active, #block-system-main-menu .menu li a:visited, #block-system-main-menu .menu li a:link {
          color: yellow; }
        #block-system-main-menu .menu li a:hover {
          color: black; }

.view-toon-termen-soorten-objecten li {
  font-size: 1.2em;
  line-height: 1.3em; }

.block .view .item-list li {
  line-height: 1.3em;
  margin-bottom: 10px; }
.block .content h3 {
  font-size: 1.2em; }

.view-news .views-field-timestamp, .view-doesdesign-op-het-web .views-field-timestamp {
  font-style: oblique; }

body {
  background: url(../images/achtergr12.jpg); }

#page {
  background: url(../images/bg-body.jpg);
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
  margin-bottom: 60px; }

h2.block-title {
  font-size: 1.4em; }
