/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 2em; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#edit-title {
  font-size: 24px;
  width: 99%; }

#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

/* custom style boris   */
#site-name, #site-slogan, h1, h2, h3, h4, h5, h6 {
  font-family: "Gentium Basic", Georgia, serif, cursive;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.3em;
  -moz-text-shadow: 0 1px 1px white;
  -webkit-text-shadow: 0 1px 1px white;
  -o-text-shadow: 0 1px 1px white;
  text-shadow: 0 1px 1px white;
  color: #5c2207; }
  #site-name a, #site-slogan a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: bold;
    font-weight: 700;
    text-decoration: underline; }

a:hover, a:active, a:link, a:visited {
  color: #462b10; }

#header {
  border-bottom: 1px dotted #999999;
  padding-bottom: 20px;
  margin-bottom: 20px; }

#site-name {
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.3em;
  padding: 0;
  margin: 7px 0 0 0;
  letter-spacing: 0.1em; }
  #site-name a:hover, #site-name a:active, #site-name a:link, #site-name a:visited {
    border-top: 5px solid #333333;
    text-decoration: none;
    padding: 4px 0;
    font-weight: 700;
    color: #5c2207; }

#site-slogan {
  font-size: 1.5em;
  color: #dfad8c; }

#skip {
  display: none; }

.page-taxonomy .views-field-field-image,
.node-type-object .field-type-image .field-item {
  display: inline; }
  .page-taxonomy .views-field-field-image img,
  .node-type-object .field-type-image .field-item img {
    border: 2px #eeeeee solid;
    padding: 2px;
    -moz-box-shadow: 0px 1px 1px #bbbbbb;
    -webkit-box-shadow: 0px 1px 1px #bbbbbb;
    box-shadow: 0px 1px 1px #bbbbbb;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px; }

.grid-4 .col-1, .grid-4 .col-2, .grid-4 .col-3, .grid-4 .col-4 {
  width: 150px;
  float: left;
  display: inline;
  margin: 0 4px 0 0; }

.page-taxonomy .view-categoriebeschrijvingen .views-field-description p {
  font-size: 1.5em;
  font-style: oblique; }

.view-taxonomy-term-2 .views-field {
  margin-bottom: 7px; }
  .view-taxonomy-term-2 .views-field .views-field-image {
    top: 0px; }
  .view-taxonomy-term-2 .views-field .views-field-title {
    top: 20px; }
  .view-taxonomy-term-2 .views-field h2 {
    font-size: 1.4em;
    line-height: 1.2em; }
  .view-taxonomy-term-2 .views-field a {
    text-decoration: none; }
    .view-taxonomy-term-2 .views-field a .views-field-body {
      top: 60px; }

.item-list ul.pager {
  background: black;
  background: rgba(0, 0, 0, 0.1); }
  .item-list ul.pager li {
    margin: 0 0 1.3em 1.3em;
    padding: 0; }

#block-system-main-menu .menu {
  margin: 0;
  padding: 0; }
  #block-system-main-menu .menu li {
    font-weight: bold;
    float: left;
    font-size: 1.2em;
    list-style: none;
    background: black;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    padding: 2px 6px 6px 4px;
    margin: 0 6px 6px 0;
    background-color: #45484d;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#45484d, endColorstr=#333333);
    background-image: -moz-linear-gradient(center top, #45484d, #333333);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#45484d), to(#333333));
    background-image: -o-linear-gradient(#45484d, #333333);
    -moz-text-shadow: 0 1px 1px black;
    -webkit-text-shadow: 0 1px 1px black;
    -o-text-shadow: 0 1px 1px black;
    text-shadow: 0 1px 1px black; }
    #block-system-main-menu .menu li:hover {
      color: #f2b06e;
      background: white;
      background-color: #eeeeee;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#cccccc);
      background-image: -moz-linear-gradient(center top, #eeeeee, #cccccc);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
      background-image: -o-linear-gradient(#eeeeee, #cccccc);
      -moz-text-shadow: 0 1px 1px white;
      -webkit-text-shadow: 0 1px 1px white;
      -o-text-shadow: 0 1px 1px white;
      text-shadow: 0 1px 1px white; }
      #block-system-main-menu .menu li:hover a {
        color: black; }
    #block-system-main-menu .menu li a {
      text-decoration: none;
      color: #f2b06e;
      padding: 6px; }

.view-toon-termen-soorten-objecten .views-row {
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 10px 0; }

.block div.views-row {
  border-bottom: 1px dotted #999999;
  padding: 8px 0; }
.block div.views-row-last {
  border-bottom: none; }
.block .content h3 {
  font-size: 1.2em; }

#content-area .field-name-taxonomy-vocabulary-6, #content-area .field-name-field-gewicht, #content-area .field-name-field-prijs {
  border-bottom: 1px dotted #999999; }
#content-area .field-name-taxonomy-vocabulary-6, #content-area .field-name-field-gewicht, #content-area .field-name-field-prijs, #content-area .field-name-taxonomy-vocabulary-7 {
  line-height: 1.3em;
  padding: 0 0 10px 0;
  margin: 10px 0 0 0; }
#content-area .field-name-body {
  font-size: 1.2em;
  margin: 10px 0; }

.view-news .views-field-timestamp, .view-doesdesign-op-het-web .views-field-timestamp {
  font-style: oblique; }

body {
  background: url(../images/achtergrond.jpg);
  padding: 20px 0; }

#page {
  background: url(../images/bg-body.jpg);
  -moz-box-shadow: 0px 1px 1px #aaaaaa;
  -webkit-box-shadow: 0px 1px 1px #aaaaaa;
  box-shadow: 0px 1px 1px #aaaaaa;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
  border-top: 10px solid #f2b06e;
  border-bottom: 10px solid #f2b06e;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 15px; }

h2.block-title {
  font-size: 1.4em; }

.view-sieraden .slide {
  position: relative;
  float: left; }
  .view-sieraden .slide img {
    border: 1px #333333 solid; }
  .view-sieraden .slide .text {
    position: absolute;
    top: 236px;
    left: 10px;
    color: white;
    padding: 10px; }
    .view-sieraden .slide .text .title {
      font-family: "Gentium Basic", Georgia, serif, cursive;
      font-weight: 700;
      font-size: 1.7em;
      background: black;
      background: rgba(0, 0, 0, 0.7);
      max-width: 600px;
      overflow: hidden;
      padding: 10px; }
      .view-sieraden .slide .text .title a:hover, .view-sieraden .slide .text .title a:active, .view-sieraden .slide .text .title a:link, .view-sieraden .slide .text .title a:visited {
        color: #f2b06e;
        text-decoration: none; }
    .view-sieraden .slide .text p.body {
      background: black;
      background: rgba(0, 0, 0, 0.7);
      max-width: 480px;
      height: 68px;
      padding: 10px;
      margin-top: 5px;
      overflow: hidden; }

#footer {
  border-top: 1px dotted #999999;
  margin: 40px 0 0 0; }
  #footer p {
    font-size: 0.8em; }

#block-gtranslate-gtranslate h2 {
  display: inline;
  float: left;
  margin: 0 10px 0 0; }
