body {
  color: #111111;
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: #111111;
  background: #e6fcf7; }

#page {
  width: 960px;
  border: 2px solid #333333;
  background: white url(../images/henric-bg.jpg) left top repeat-x;
  margin: 0 auto; }

a:link, a:visited {
  color: black; }
a:hover {
  color: #333333; }

#header {
  height: 158px;
  width: 100%; }

#primary-menu {
  margin: 0;
  text-align: left;
  font-size: 0.85em;
  color: black;
  padding: 4px 4px 8px 8px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background: white;
  margin: 0 0 180px 0; }

#site-name {
  position: absolute;
  top: 95px;
  border: yellow 0px solid;
  text-align: right;
  width: 842px;
  font-size: 350%;
  font-family: "Fredoka One";
  text-shadow: black 0.1em 0.1em 0.2em; }
  #site-name a {
    color: white;
    text-decoration: none; }

.primary-links {
  float: right; }

.site-info {
  float: left; }

#primary-menu a:hover, #primary-menu a:visited, #primary-menu a:active, #primary-menu a:link {
  color: #666666;
  text-decoration: none;
  font-weight: bold; }

#primary-menu a:hover {
  color: black;
  text-decoration: underline; }

h1 {
  font-size: 1.7em;
  padding: 0;
  margin: 16px 0 0 0;
  color: black; }

h2 {
  font-size: 1.2em;
  padding: 0;
  margin: 16px 0 0 0;
  color: #009470; }

h2.content-title {
  font-size: 1.85em;
  color: #009470;
  padding: 0 8px 12px 0; }

h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0;
  margin: 8px 0 0 0; }

h4, h5, h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  padding: 0;
  margin: 0 0 4px 0; }

#menu {
  width: 160px;
  padding: 0px;
  float: left;
  border: red 2px solid; }

.block {
  padding: 6px;
  margin: 6px;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  background: white; }

.primary-links a:hover, .primary-links a:visited, .primary-links a:active, .primary-links a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.95em; }

#primary a:hover {
  color: black;
  text-decoration: underline; }

.block h3, .block h2 {
  color: #009470;
  margin: 0 -6px 6px -6px;
  padding: 6px;
  border-bottom: 1px solid #009470; }

#main-content {
  padding: 6px 16px 16px;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  margin-left: 160px;
  background: white; }

br.clear {
  clear: both; }
=======
  background: white url(../images/henric-bg.jpg) left -70px repeat-x;
  margin: 10px auto;
  text-align: left; }

/* Links */
a:link, a:visited {
  color: black; }
a:active {
  color: #990000; }
a:hover {
  color: #333333; }

/* Titles. */
h1, h2, .content-title, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 1.8em;
  font-weight: 600;
  padding: 0 0 0.5em;
  margin: 0; }

h2, .content-title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.75em;
  color: #009470; }

h3 {
  font-size: 1.2em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-style: oblique; }

h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-style: oblique; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

.submitted, .hide {
  display: none; }

table#content {
  border-collapse: collapse; }

#header {
  height: 158px;
  width: 100%; }

.site-info {
  float: left; }

.sidebar .block {
  border: 1px solid #999999;
  padding: 6px;
  margin: 12px 6px;
  opacity: .90;
  filter: alpha(opacity=90);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .90;
  -moz-opacity: .90;
  background: white;
  -moz-box-shadow: 1px 1px 6px #cccccc;
  -webkit-box-shadow: 1px 1px 6px #cccccc;
  box-shadow: 1px 1px 6px #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
  .sidebar .block .content {
    padding: 0 10px 10px 10px; }
  .sidebar .block h3, .sidebar .block h2, .sidebar .block .content-title {
    font-size: 1.3em;
    margin: 0 -6px 6px -6px;
    padding: 6px;
    border-bottom: 1px solid #009470; }

#content .inner {
  padding: 6px 16px 16px;
  background: white; }
>>>>>>> 8051de48b38402637a8c667682d2885f9024a772

#main {
  margin-top: 40px; }

<<<<<<< HEAD
.breadcrumb {
  padding: 4px 0 0 0;
  color: #eeeeee;
  background: #009470;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  padding: 4px;
  margin: 8px;
  display: none; }

.breadcrumb a:hover, .breadcrumb a:visited, .breadcrumb a:active, .breadcrumb a:link {
  color: white; }

legend {
  font-size: 1.2em;
  font-weight: bold; }

.bar {
  border-bottom: #a02f0f solid 4px;
  margin: 8px -16px 8px -16px; }

.book .nav {
  border-top: #a02f0f solid 4px;
  margin: 8px -16px 8px -16px;
  display: none; }

.book .nav .links, .book .nav .titles {
  margin: 8px 16px 8px 16px; }
=======
.book-navigation {
  margin: 10px; }
  .book-navigation .menu {
    margin: 20px 0; }
  .book-navigation .page-links {
    padding: 10px; }
>>>>>>> 8051de48b38402637a8c667682d2885f9024a772

.storyendbar {
  margin: 8px -16px 8px -16px; }

<<<<<<< HEAD
#footer-menu {
  text-align: center;
  font-size: 0.95em;
  background: black;
  color: black;
  padding: 12px;
  margin-top: 12px;
  background: #ffff99; }

#footer-menu a:hover, #footer-menu a:visited, #footer-menu a:active, #footer-menu a:link {
  text-decoration: none;
  color: black;
  font-weight: bold; }

#footer-menu a:hover {
  color: black;
  text-decoration: underline; }

#navigation {
  color: black;
  font-size: 1em;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  background: black; }

#secondary a:hover, #secondary a:visited, #secondary a:active, #secondary a:link {
  color: white;
  text-decoration: underline;
  font-weight: bold; }

#secondary-menu form, #secondary-menu input, #secondary-menu div {
  margin: 0;
  padding: 0;
  display: inline;
  border: green 0px solid; }

#secondary-menu input {
  font-size: 0.8em; }

#secondary {
  padding: 8px; }

#secondary li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em; }

.info, .terms {
  display: none; }

.decopic {
  border: #eeeeee solid 4px;
  float: right;
  display: inline; }

.decopic img {
  border: #000066; }

.example {
  margin-left: 24px;
  line-height: 175%;
  font-size: 1.1em; }

input {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1; }

pre {
  font-size: 1.2em; }

=======
#navigation {
  color: black;
  font-size: 1em;
  opacity: .70;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .70;
  -moz-opacity: .70;
  background: black; }
  #navigation #secondary {
    padding: 10px 8px; }
    #navigation #secondary li {
      display: inline;
      list-style-type: none;
      padding: 0 0.5em; }
      #navigation #secondary li a:hover, #navigation #secondary li a:visited, #navigation #secondary li a:active, #navigation #secondary li a:link {
        color: white;
        text-decoration: underline;
        font-weight: bold; }

>>>>>>> 8051de48b38402637a8c667682d2885f9024a772
.comment {
  border: 1px #cccccc solid;
  padding: 8px;
  margin: 8px; }

#mission {
  padding: 8px;
  margin: 8px;
  background: #009470;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
<<<<<<< HEAD
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8; }

#sidebar-right, #sidebar-left {
  width: 200px; }

.form-submit {
  border: 2px solid black;
  font-size: 100%;
  background: #009470;
  color: white;
  font-weight: bold;
  margin: 10px 0; }

#footer-message {
  width: 742px;
  margin: 10px auto;
  text-align: center; }

.submitted, .hide {
  display: none; }
=======
  opacity: .80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .80;
  -moz-opacity: .80; }

input.form-text, input.form-submit {
  font-size: 100%;
  font-weight: bold;
  padding: 4px; }

input.form-submit {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  background: #009470;
  color: white;
  border: 2px solid black; }

#site-name {
  font-family: "Fredoka One";
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 2.6em;
  position: absolute;
  top: 95px;
  left: 510px;
  border: yellow 0px solid;
  text-align: right;
  font-weight: 300; }
  #site-name a {
    color: white;
    text-decoration: none; }

hr {
  color: #009470;
  background-color: #009470;
  height: 1px;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  box-shadow: 1px 1px 3px #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
  margin: 10px 0;
  border: 0; }
>>>>>>> 8051de48b38402637a8c667682d2885f9024a772
