body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: #111111;
  background: #e6fcf7; }

#page {
  width: 960px;
  border: 2px solid #333333;
  background: white url(../images/henric-bg.jpg) left -70px repeat-x;
  margin: 10px auto;
  text-align: left; }

/* Links */
a:link, a:visited {
  color: black; }
a:active {
  color: #990000; }
a:hover {
  color: #333333; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, .content-title, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 3em;
  font-weight: 600;
  padding: 0 0 0.5em;
  margin: 0; }

h2, .content-title {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
  color: #009470; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

.submitted, .hide {
  display: none; }

table#content {
  border-collapse: collapse; }

#header {
  height: 158px;
  width: 100%; }

.site-info {
  float: left; }

.block {
  border: 1px solid #999999;
  padding: 6px;
  margin: 12px 6px;
  opacity: .90;
  filter: alpha(opacity=90);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .90;
  -moz-opacity: .90;
  background: white;
  -moz-box-shadow: 1px 1px 6px #cccccc;
  -webkit-box-shadow: 1px 1px 6px #cccccc;
  box-shadow: 1px 1px 6px #cccccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
  .block .content {
    padding: 0 10px 10px 10px; }
  .block h3, .block h2, .block .content-title {
    font-size: 1.3em;
    margin: 0 -6px 6px -6px;
    padding: 6px;
    border-bottom: 1px solid #009470; }

#content .inner {
  padding: 6px 16px 16px;
  background: white; }

#main {
  margin-top: 40px; }

.book-navigation {
  margin: 10px; }
  .book-navigation .menu {
    margin: 20px 0; }
  .book-navigation .page-links {
    padding: 10px; }

.storyendbar {
  margin: 8px -16px 8px -16px; }

#navigation {
  color: black;
  font-size: 1em;
  opacity: .70;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .70;
  -moz-opacity: .70;
  background: black; }
  #navigation #secondary {
    padding: 10px 8px; }
    #navigation #secondary li {
      display: inline;
      list-style-type: none;
      padding: 0 0.5em; }
      #navigation #secondary li a:hover, #navigation #secondary li a:visited, #navigation #secondary li a:active, #navigation #secondary li a:link {
        color: white;
        text-decoration: underline;
        font-weight: bold; }

.comment {
  border: 1px #cccccc solid;
  padding: 8px;
  margin: 8px; }

#mission {
  padding: 8px;
  margin: 8px;
  background: #009470;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  opacity: .80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: .80;
  -moz-opacity: .80; }

input.form-text, input.form-submit {
  font-size: 100%;
  font-weight: bold;
  padding: 4px; }

input.form-submit {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  background: #009470;
  color: white;
  border: 2px solid black; }

#site-name {
  font-family: "Fredoka One";
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 1.2em;
  position: absolute;
  top: 95px;
  border: yellow 0px solid;
  text-align: right;
  width: 842px; }
  #site-name a {
    color: white;
    text-decoration: none; }
