body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color: #333;
  background: #CFCFE9 url(images/mokusneeuw-bg.jpg) no-repeat fixed center right;
  line-height: 150%;
}

a,
a:link,
a:visited {
  color: #7D7D00;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
 color: #000;
  text-decoration: underline;
}



.title, h2, .field-label {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h1, h2, .field .field-label {
  font-weight: normal;		
}
.views-view-grid h2 {
  font-weight: normal;		
  text-shadow: #ccc 0px 1px 0, #666 0 -1px 0;
}

#page-wrapper {
  border: 2px solid #7D7D00;
  background: transparent url(images/fff-50.png);
  }

h1.title {
  font-size: 2.2em;
  color: #4B4740;
  border-left: 4px #7D7D00 solid;
  padding-left: 12px;
  line-height: 100%;  
}

#header .block-menu {
}

#header .block-menu  h2 {
  display: none;
}

#header ul {
  padding: 0;
  margin: 15px 0 0 0;
}

#header .block-menu ul.menu {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; 
  font-weight: bold;
}

#header .block-menu ul.menu li {
  font-weight: normal;
  font-size: 1.3em;
  display: inline;
  list-style-type: none;
}

#header .block-menu ul.menu a { 
  padding: 7px 14px;
  color: #FFF;
  text-decoration: none;
  background: #7D7D00;
  opacity: 0.75;
}
#header .block-menu ul.menu a:hover, #header .block-menu ul.menu .active-trail a  {
  padding: 7px 14px;
  color: #FFF;
  text-decoration: none;
  background: #333;
  opacity: 0.75;
}

#breadcrumb {
 display: none;
}

p {
  margin: 1em 0;
}

.content object,
.views-field-field-image img,
.field-type-image img {
 border: 1px #666 solid;
 padding: 4px;
}

.field-type-image {
  float: right;
  width: 240px;
}

.field-label {
  font-size: 125%;
}

.field {
 margin-top: 10px;
}

ul.inline, ul.links.inline {
 display: block;
}

ul.inline li {
padding: 0;
}

#header ul.menu li {
  padding: 0;
  margin: 0 7px 0 0;
}
