
/**
 * @file
 * Layout method
 *
 * Similiar approach as the Stark core theme
 */

#content,
#sidebar-first,
#sidebar-second {
  display: inline;
  float: left;
  position: relative;
}

#content {
  width: 100%;
}

#content .section {
  padding: 0 1em;
}

body.sidebar-first #content {
  left: 14%; /* LTR */
  width: 58%;
}

body.sidebar-second #content {
  left: 14%;
  width: 58%;
}

body.two-sidebars #content {
  left: 14%;
  width: 58%;
}

body.no-sidebars #content {
  clear: left;
  left: 14%;
  width: 58%;
}

body.two-sidebars #sidebar-first {
  left: -58%; /* LTR */
}

#sidebar-first {
  left: -58%; /* LTR */
  width: 14%;
}

#sidebar-second {
  float: right; /* LTR */
  width: 28%;
}

.section {
  margin: 0 0.5em;
}

#content .section {
  margin: 0 1.5em;
}

#main {
  clear: both;
  padding-top: 1em;
}


/* @todo: moving this over from dingus.css, refactor */

/**
* Layout
*/
#page-wrapper {
  margin: 2em auto;
  min-width: 320px;
  max-width: 1400px;
  width: 92%;
}

#header,
#navigation {
  margin: 0.25em 0 0 17.5%;
}

#footer {
  border-top: #ddd 1px solid;
  margin: 3em 0 0 0;
  padding: 1em 0 3em 0;
}

#sidebar-first .section {
  margin: 3.5em 1em 0 0;
}

#sidebar-second .section {
  margin: 3.5em 0 0 1em;
}

#content {
  margin-top: 0;
}

#comments {
  margin-left: 20%;
}


