
/**
 * @file
 * 
*/

body {
  font-size: 1em;
  line-height: 145%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.325em;
}

h3 {
  font-size: 1.15em;
}

#page-wrapper {
  width: 96%;
  margin: 1em auto;
}

#sidebar-first,
#sidebar-second {
  display: block;
  float: left;
  width: 100%;
}

.section {
  margin: 0;
}

#content .section {
  padding: 0;
}

#main {
  clear: both;
  margin-top: 1em;
}

div.admin .right, div.admin .left {
    width: 100%;
}
div.admin .left {
    float: left;
    margin-left: 0;
    width: 100%;
}

.field-type-image img {
  display: none;
  margin: 0;
  padding: 0;
}

#navigation {
  border-bottom: none;
}

#navigation ul#main-menu li {
  float: none;
  border-bottom: #ddd 1px solid;
}