/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "blueprint";
@import "singularitygs";
@import "partials/base";

@include global-reset;

@include blueprint;

* {
  @include box-sizing("border-box");
}

.tab {
  @include box-sizing("content-box");
}

body {
  background: url(../images/achtergrond.jpg) no-repeat fixed center center;
  background-size: 100% 100%;
}

#content-wrapper {
  @include breakpoint($break1) {
    clear: right;
  }
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

/*hide some crap that is too hard to make responsive */
/*.view-sieraden, #content-top-2
 * display: none */

#header {
  #header-block {
    @include breakpoint($break1) {
      clear: right;
      @include grid-span(6,1);
    }
    @include breakpoint($break2) {
      @include grid-span(4, 5);
    }
    @include breakpoint($break3) {
      @include grid-span(3, 8);
    }
    background: url(../images/fff-50.png);
    border: 1px dotted #999999;
    padding: 6px;
    margin: 3px;
    .content {
      div {
        margin-bottom: 6px;
      }
    }
  }
  #logo {
    @include breakpoint($break1) {
      @include grid-span(1,1);
    }
    @include breakpoint($break1) {
      img {
        width: 75%;
      };
    }
    float: left;
    margin: 0 12px 0 0;
  }
  #site-name-and-slogan {
    @include breakpoint($break1) {
      @include grid-span(5, 2);
      font-size: 150%; 
    }
    @include breakpoint($break2) {
      @include grid-span(4, 2);
      font-size: 125%; 
    }
    height: 80px;
    margin: 0 12px 0;
    #site-name {
      @include text-shadow(black 2px 2px 2px);
      a {
        &:hover, &:active, &:link, &:visited {
          text-decoration: none;
          color: $light_yellow;
          @include font(100);
          font-size: 2.8em;
          font-style: italic;
          line-height: 1.3em;
          letter-spacing: 0.15em;
        }
      }
      @include breakpoint($break3) {
        font-size: 150%; 
      }

    }
    #site-slogan {
      @include font(100);
      font-size: 1.2em;
      color: white;
      letter-spacing: 0.39em;
      @include text-shadow(black 2px 2px 2px);
      @include breakpoint($break3) {
        letter-spacing: 0.65em; 
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font;
  line-height: 1.3em;
  @include text-shadow(white 1px 1px 0);
  color: $dark_yellow;
  a {
    font-weight: bold;
    font-weight: 700;
    text-decoration: underline;
  }
}

#content {
  #content-area {
    @include breakpoint($break3) {
      @include grid-span(7, 1);
    }
  }
  #sidebar {
    @include breakpoint($break3) {
      @include grid-span(3, 8);
    }
    .block {
      padding: 0;
      margin: 1em 0 2em 0;
    }
  }
}

#content-header {
  h1 {
    margin-bottom: 0;
  }
}

a {
  &:hover, &:active, &:link, &:visited {
    color: $dark_grey;
  }
}

#skip, .hidden {
  display: none;
}

.page-taxonomy .views-field-field-image,
.node-type-object .field-type-image .field-item {
  display: inline;
  img {
    border: 2px #eeeeee solid;
    padding: 2px;
    @include box-shadow(#bbbbbb 1px 1px 3px);
    @include border-radius(2px);
  }
}

.page-taxonomy {
  .view-taxonomy-term {
    .views-row {
      width: 139px;
      float: left;
      display: inline;
      margin: 0 4px 0 0;
      height: 360px;
      overflow: hidden;
    }
  }
}

.page-taxonomy {
  .view-categoriebeschrijvingen {
    .views-field-description {
      p {
        font-size: 1.5em;
        font-style: oblique;
      }
    }
  }
}

// make decent css code for display text on top of image
.view-taxonomy-term-2, .view-taxonomy-term {
  .views-field {
    margin-bottom: 7px;
    .views-field-image {
      top: 0px;
    }
    .views-field-title {
      top: 20px;
    }
    h2 {
      font-size: 1.4em;
      line-height: 1.2em;
    }
    a {
      text-decoration: none;
      .views-field-body {
        top: 60px;
      }
    }
  }
}

#block-system-main-menu {
  .menu {
    margin: 0;
    padding: 0;
    li {
      display: block;
      font-size: 1.2em;
      list-style: none;
      background: $light_beige url(../images/menubalk.png);
      @include border-radius(10px);
      padding: 6px 6px 10px 8px;
      margin: 0 6px 6px 0;
      @include box-shadow(#cccccc 1px 1px 1px);
      &:hover {
        color: #333333;
      }
      a {
        text-decoration: none;
        color: white;
        padding: 6px;
        @include font;
        @include text-shadow(black 1px 1px 1px);
      }
      @include breakpoint($break1) {
        display: inline;
        line-height: 3em;

      }

    }
  }
}

.view-toon-termen-soorten-objecten {
  .views-row {
    font-size: 1.2em;
    line-height: 1.3em;
    padding: 10px 0;
  }
}

.block {
  div.views-row {
    border-bottom: 1px dotted #999999;
    padding: 8px 0;
  }
  div.views-row-last {
    border-bottom: none;
  }
  .content {
    h3 {
      font-size: 1.2em;
    }
  }
}

#content-area {
  .data-list {
    font-size: 1.2em;
    .field {
      border-bottom: 1px dotted #999999;
      line-height: 1.3em;
      padding: 0 0 10px 0;
      margin: 10px 0 0 0;
    }
    .field-name-body {
      margin: 10px 0 0 0;
    }
  }
}

.view-news, .view-doesdesign-op-het-web {
  .views-field-timestamp {
    font-style: oblique;
  }
}

#content-top, #content, #footer {
  border-left: 3px solid $dark_grey;
  border-right: 3px solid $dark_grey;
  background: url(../images/bg-body.jpg);
  padding: 15px;
  @include box-shadow(#333333 2px 10px 8px);
  p {
    font-size: 1.2em;
  }
}

// individual aspects of content regions
#content-top {
  border-top: 3px solid $dark_grey;
  p {
    font-size: 1.2em;
  }
}

#content-end {
  clear: both;
}
#footer {
  border-bottom: 3px solid $dark_grey;
  margin: 0 0 60px 0;
  p {
    font-size: 0.9em;
  }
}

h2.block-title {
  font-size: 1.6em;
}

// the slideshow

.view-sieraden, #block-dd_tools-slideshow {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .slide {
    img {
      border: 3px $light_brown solid;
    }
    position: relative;
    float: left;
    .text {
      position: absolute;
      top: 206px;
      left: 10px;
      color: white;
      padding: 10px;
      .title {
        font-family: "Gentium Basic", Georgia, serif, cursive;
        font-weight: 700;
        font-size: 1.7em;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        max-width: 600px;
        overflow: hidden;
        padding: 10px;
        a {
          &:hover, &:active, &:link, &:visited {
            color: $light_brown;
            text-decoration: none;
          }
        }
      }
      p.body {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        max-width: 480px;
        height: 68px;
        padding: 10px;
        margin-top: 5px;
        overflow: hidden;
      }
    }
  }
}

.rslides_tabs {
  bottom: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  padding-right: 25em;
  a {
    @include border-radius(50%);
    @include inline-block;
    @include transition-property(all);
    @include transition-delay(60ms);
    border: 2px solid white;
    margin-left: 1em;
    margin-bottom: -20px;
    text-indent: -9999px;
    height: 16px;
    width: 16px;
    background-color: $light_brown;
  }
  li {
    display: inline;
    position: relative;
    &:first-child {
      position: relative;
      float: none;
      display: inline;
    }
    &.rslides_here a {
      background: $dark_yellow;
    }
  }
}

.front {
  #content-header {
    display: none;
  }
  #block-views-sieraden-block_1 {
    padding-top: 0;
  }
}

.node {
  label, .label {
    font-weight: bold;
  }
}

.item-list .pager {
  margin: 12px 0;
  text-align: left;
  padding-top: 12px;
  li {
    border: solid 1px $dark_yellow;
    margin: 0 3px;
    padding: 2px 6px;
    a {
      &:hover, &:active, &:link, &:visited {
        color: $dark_yellow;
        text-decoration: none;
      }
    }
  }
  .pager-next, .pager-last {
    border: 0;
    font-weight: bold;
  }
  .pager-current {
    background: $dark_yellow;
    color: white;
  }
}
