/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, .content-title, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/screen.sass */
.tab {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 13, ../sass/screen.sass */
body {
  color: #111111;
  background: #e6fcf7;
}

/* line 17, ../sass/screen.sass */
#page-wrapper {
  font: 15px/1.7em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(11.76471%, rgba(100, 100, 225, 0.25)), color-stop(11.76471%, rgba(0, 0, 0, 0)), color-stop(14.70588%, rgba(0, 0, 0, 0)), color-stop(14.70588%, rgba(100, 100, 225, 0.25)), color-stop(26.47059%, rgba(100, 100, 225, 0.25)), color-stop(26.47059%, rgba(0, 0, 0, 0)), color-stop(29.41176%, rgba(0, 0, 0, 0)), color-stop(29.41176%, rgba(100, 100, 225, 0.25)), color-stop(41.17647%, rgba(100, 100, 225, 0.25)), color-stop(41.17647%, rgba(0, 0, 0, 0)), color-stop(44.11765%, rgba(0, 0, 0, 0)), color-stop(44.11765%, rgba(100, 100, 225, 0.25)), color-stop(55.88235%, rgba(100, 100, 225, 0.25)), color-stop(55.88235%, rgba(0, 0, 0, 0)), color-stop(58.82353%, rgba(0, 0, 0, 0)), color-stop(58.82353%, rgba(100, 100, 225, 0.25)), color-stop(70.58824%, rgba(100, 100, 225, 0.25)), color-stop(70.58824%, rgba(0, 0, 0, 0)), color-stop(73.52941%, rgba(0, 0, 0, 0)), color-stop(73.52941%, rgba(100, 100, 225, 0.25)), color-stop(85.29412%, rgba(100, 100, 225, 0.25)), color-stop(85.29412%, rgba(0, 0, 0, 0)), color-stop(88.23529%, rgba(0, 0, 0, 0)), color-stop(88.23529%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 11.76471%, rgba(0, 0, 0, 0) 11.76471%, rgba(0, 0, 0, 0) 14.70588%, rgba(100, 100, 225, 0.25) 14.70588%, rgba(100, 100, 225, 0.25) 26.47059%, rgba(0, 0, 0, 0) 26.47059%, rgba(0, 0, 0, 0) 29.41176%, rgba(100, 100, 225, 0.25) 29.41176%, rgba(100, 100, 225, 0.25) 41.17647%, rgba(0, 0, 0, 0) 41.17647%, rgba(0, 0, 0, 0) 44.11765%, rgba(100, 100, 225, 0.25) 44.11765%, rgba(100, 100, 225, 0.25) 55.88235%, rgba(0, 0, 0, 0) 55.88235%, rgba(0, 0, 0, 0) 58.82353%, rgba(100, 100, 225, 0.25) 58.82353%, rgba(100, 100, 225, 0.25) 70.58824%, rgba(0, 0, 0, 0) 70.58824%, rgba(0, 0, 0, 0) 73.52941%, rgba(100, 100, 225, 0.25) 73.52941%, rgba(100, 100, 225, 0.25) 85.29412%, rgba(0, 0, 0, 0) 85.29412%, rgba(0, 0, 0, 0) 88.23529%, rgba(100, 100, 225, 0.25) 88.23529%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 11.76471%, rgba(0, 0, 0, 0) 11.76471%, rgba(0, 0, 0, 0) 14.70588%, rgba(100, 100, 225, 0.25) 14.70588%, rgba(100, 100, 225, 0.25) 26.47059%, rgba(0, 0, 0, 0) 26.47059%, rgba(0, 0, 0, 0) 29.41176%, rgba(100, 100, 225, 0.25) 29.41176%, rgba(100, 100, 225, 0.25) 41.17647%, rgba(0, 0, 0, 0) 41.17647%, rgba(0, 0, 0, 0) 44.11765%, rgba(100, 100, 225, 0.25) 44.11765%, rgba(100, 100, 225, 0.25) 55.88235%, rgba(0, 0, 0, 0) 55.88235%, rgba(0, 0, 0, 0) 58.82353%, rgba(100, 100, 225, 0.25) 58.82353%, rgba(100, 100, 225, 0.25) 70.58824%, rgba(0, 0, 0, 0) 70.58824%, rgba(0, 0, 0, 0) 73.52941%, rgba(100, 100, 225, 0.25) 73.52941%, rgba(100, 100, 225, 0.25) 85.29412%, rgba(0, 0, 0, 0) 85.29412%, rgba(0, 0, 0, 0) 88.23529%, rgba(100, 100, 225, 0.25) 88.23529%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 11.76471%, rgba(0, 0, 0, 0) 11.76471%, rgba(0, 0, 0, 0) 14.70588%, rgba(100, 100, 225, 0.25) 14.70588%, rgba(100, 100, 225, 0.25) 26.47059%, rgba(0, 0, 0, 0) 26.47059%, rgba(0, 0, 0, 0) 29.41176%, rgba(100, 100, 225, 0.25) 29.41176%, rgba(100, 100, 225, 0.25) 41.17647%, rgba(0, 0, 0, 0) 41.17647%, rgba(0, 0, 0, 0) 44.11765%, rgba(100, 100, 225, 0.25) 44.11765%, rgba(100, 100, 225, 0.25) 55.88235%, rgba(0, 0, 0, 0) 55.88235%, rgba(0, 0, 0, 0) 58.82353%, rgba(100, 100, 225, 0.25) 58.82353%, rgba(100, 100, 225, 0.25) 70.58824%, rgba(0, 0, 0, 0) 70.58824%, rgba(0, 0, 0, 0) 73.52941%, rgba(100, 100, 225, 0.25) 73.52941%, rgba(100, 100, 225, 0.25) 85.29412%, rgba(0, 0, 0, 0) 85.29412%, rgba(0, 0, 0, 0) 88.23529%, rgba(100, 100, 225, 0.25) 88.23529%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 11.76471%, rgba(0, 0, 0, 0) 11.76471%, rgba(0, 0, 0, 0) 14.70588%, rgba(100, 100, 225, 0.25) 14.70588%, rgba(100, 100, 225, 0.25) 26.47059%, rgba(0, 0, 0, 0) 26.47059%, rgba(0, 0, 0, 0) 29.41176%, rgba(100, 100, 225, 0.25) 29.41176%, rgba(100, 100, 225, 0.25) 41.17647%, rgba(0, 0, 0, 0) 41.17647%, rgba(0, 0, 0, 0) 44.11765%, rgba(100, 100, 225, 0.25) 44.11765%, rgba(100, 100, 225, 0.25) 55.88235%, rgba(0, 0, 0, 0) 55.88235%, rgba(0, 0, 0, 0) 58.82353%, rgba(100, 100, 225, 0.25) 58.82353%, rgba(100, 100, 225, 0.25) 70.58824%, rgba(0, 0, 0, 0) 70.58824%, rgba(0, 0, 0, 0) 73.52941%, rgba(100, 100, 225, 0.25) 73.52941%, rgba(100, 100, 225, 0.25) 85.29412%, rgba(0, 0, 0, 0) 85.29412%, rgba(0, 0, 0, 0) 88.23529%, rgba(100, 100, 225, 0.25) 88.23529%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  border: 2px solid #333333;
  background: white url(../images/henric-bg-small.jpg) left -50px repeat-x;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 44em) {
  /* line 17, ../sass/screen.sass */
  #page-wrapper {
    max-width: 44em;
  }
}
@media (min-width: 59em) {
  /* line 17, ../sass/screen.sass */
  #page-wrapper {
    max-width: 59em;
  }
}
@media (min-width: 74em) {
  /* line 17, ../sass/screen.sass */
  #page-wrapper {
    max-width: 74em;
  }
}

/* line 24, ../sass/screen.sass */
#navigation {
  padding: 10px 8px;
  clear: both;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#000000, #333333);
  background-image: -moz-linear-gradient(#000000, #333333);
  background-image: -o-linear-gradient(#000000, #333333);
  background-image: linear-gradient(#000000, #333333);
  color: white;
  font-weight: bold;
}
/* line 27, ../sass/screen.sass */
#navigation li {
  padding: 0 0.5em;
  display: block;
}
/* line 35, ../sass/screen.sass */
#navigation a:hover, #navigation a:visited, #navigation a:active, #navigation a:link {
  color: white;
  text-decoration: underline;
}

/* line 40, ../sass/screen.sass */
#header #site-name {
  font-family: "Fredoka One";
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 2em;
  margin: 70px 0 20px 0;
  font-weight: 300;
}
/* line 45, ../sass/screen.sass */
#header #site-name a {
  color: white;
  text-decoration: none;
}

/* line 50, ../sass/screen.sass */
.sidebar .block {
  border: 1px solid #999999;
  padding: 6px;
  margin: 12px 0 12px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: white;
  -webkit-box-shadow: #cccccc 1px 1px 6px;
  -moz-box-shadow: #cccccc 1px 1px 6px;
  box-shadow: #cccccc 1px 1px 6px;
}
/* line 56, ../sass/screen.sass */
.sidebar .block .content {
  padding: 0 10px 10px 10px;
}
/* line 58, ../sass/screen.sass */
.sidebar .block h3, .sidebar .block h2, .sidebar .block .content-title {
  font-size: 1.3em;
  margin: 0 -6px 6px -6px;
  padding: 6px;
  border-bottom: 1px solid #009470;
}

/* line 65, ../sass/screen.sass */
#block-book-navigation {
  display: none;
}

@media (min-width: 44em) {
  /* line 69, ../sass/screen.sass */
  #block-book-navigation {
    display: block;
  }

  /* line 71, ../sass/screen.sass */
  #page-wrapper {
    background: white url(../images/henric-bg.jpg) left -50px repeat-x;
    font: 14px/1.6em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  }

  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(9.09091%, rgba(100, 100, 225, 0.25)), color-stop(9.09091%, rgba(0, 0, 0, 0)), color-stop(11.36364%, rgba(0, 0, 0, 0)), color-stop(11.36364%, rgba(100, 100, 225, 0.25)), color-stop(20.45455%, rgba(100, 100, 225, 0.25)), color-stop(20.45455%, rgba(0, 0, 0, 0)), color-stop(22.72727%, rgba(0, 0, 0, 0)), color-stop(22.72727%, rgba(100, 100, 225, 0.25)), color-stop(31.81818%, rgba(100, 100, 225, 0.25)), color-stop(31.81818%, rgba(0, 0, 0, 0)), color-stop(34.09091%, rgba(0, 0, 0, 0)), color-stop(34.09091%, rgba(100, 100, 225, 0.25)), color-stop(43.18182%, rgba(100, 100, 225, 0.25)), color-stop(43.18182%, rgba(0, 0, 0, 0)), color-stop(45.45455%, rgba(0, 0, 0, 0)), color-stop(45.45455%, rgba(100, 100, 225, 0.25)), color-stop(54.54545%, rgba(100, 100, 225, 0.25)), color-stop(54.54545%, rgba(0, 0, 0, 0)), color-stop(56.81818%, rgba(0, 0, 0, 0)), color-stop(56.81818%, rgba(100, 100, 225, 0.25)), color-stop(65.90909%, rgba(100, 100, 225, 0.25)), color-stop(65.90909%, rgba(0, 0, 0, 0)), color-stop(68.18182%, rgba(0, 0, 0, 0)), color-stop(68.18182%, rgba(100, 100, 225, 0.25)), color-stop(77.27273%, rgba(100, 100, 225, 0.25)), color-stop(77.27273%, rgba(0, 0, 0, 0)), color-stop(79.54545%, rgba(0, 0, 0, 0)), color-stop(79.54545%, rgba(100, 100, 225, 0.25)), color-stop(88.63636%, rgba(100, 100, 225, 0.25)), color-stop(88.63636%, rgba(0, 0, 0, 0)), color-stop(90.90909%, rgba(0, 0, 0, 0)), color-stop(90.90909%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 9.09091%, rgba(0, 0, 0, 0) 9.09091%, rgba(0, 0, 0, 0) 11.36364%, rgba(100, 100, 225, 0.25) 11.36364%, rgba(100, 100, 225, 0.25) 20.45455%, rgba(0, 0, 0, 0) 20.45455%, rgba(0, 0, 0, 0) 22.72727%, rgba(100, 100, 225, 0.25) 22.72727%, rgba(100, 100, 225, 0.25) 31.81818%, rgba(0, 0, 0, 0) 31.81818%, rgba(0, 0, 0, 0) 34.09091%, rgba(100, 100, 225, 0.25) 34.09091%, rgba(100, 100, 225, 0.25) 43.18182%, rgba(0, 0, 0, 0) 43.18182%, rgba(0, 0, 0, 0) 45.45455%, rgba(100, 100, 225, 0.25) 45.45455%, rgba(100, 100, 225, 0.25) 54.54545%, rgba(0, 0, 0, 0) 54.54545%, rgba(0, 0, 0, 0) 56.81818%, rgba(100, 100, 225, 0.25) 56.81818%, rgba(100, 100, 225, 0.25) 65.90909%, rgba(0, 0, 0, 0) 65.90909%, rgba(0, 0, 0, 0) 68.18182%, rgba(100, 100, 225, 0.25) 68.18182%, rgba(100, 100, 225, 0.25) 77.27273%, rgba(0, 0, 0, 0) 77.27273%, rgba(0, 0, 0, 0) 79.54545%, rgba(100, 100, 225, 0.25) 79.54545%, rgba(100, 100, 225, 0.25) 88.63636%, rgba(0, 0, 0, 0) 88.63636%, rgba(0, 0, 0, 0) 90.90909%, rgba(100, 100, 225, 0.25) 90.90909%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  /* line 75, ../sass/screen.sass */
  #main {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 77, ../sass/screen.sass */
  #main #content {
    width: 77.27273%;
    float: left;
    margin-right: 2.27273%;
  }
  /* line 79, ../sass/screen.sass */
  #main #sidebar-first {
    width: 20.45455%;
    float: right;
    margin-right: 0;
    overflow: hidden;
  }

  /* line 82, ../sass/screen.sass */
  #navigation li {
    display: inline-block;
  }

  /* line 84, ../sass/screen.sass */
  #header #site-name {
    font-size: 2.6em;
    margin: 61px 0;
  }
}
@media (min-width: 59em) {
  /* line 89, ../sass/screen.sass */
  #page-wrapper {
    background: white url(../images/henric-bg.jpg) left -50px repeat-x;
    font: 13px/1.5em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  }

  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(6.77966%, rgba(100, 100, 225, 0.25)), color-stop(6.77966%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(0, 0, 0, 0)), color-stop(8.47458%, rgba(100, 100, 225, 0.25)), color-stop(15.25424%, rgba(100, 100, 225, 0.25)), color-stop(15.25424%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(0, 0, 0, 0)), color-stop(16.94915%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(100, 100, 225, 0.25)), color-stop(23.72881%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(0, 0, 0, 0)), color-stop(25.42373%, rgba(100, 100, 225, 0.25)), color-stop(32.20339%, rgba(100, 100, 225, 0.25)), color-stop(32.20339%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(0, 0, 0, 0)), color-stop(33.89831%, rgba(100, 100, 225, 0.25)), color-stop(40.67797%, rgba(100, 100, 225, 0.25)), color-stop(40.67797%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(0, 0, 0, 0)), color-stop(42.37288%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(100, 100, 225, 0.25)), color-stop(49.15254%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(0, 0, 0, 0)), color-stop(50.84746%, rgba(100, 100, 225, 0.25)), color-stop(57.62712%, rgba(100, 100, 225, 0.25)), color-stop(57.62712%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(0, 0, 0, 0)), color-stop(59.32203%, rgba(100, 100, 225, 0.25)), color-stop(66.10169%, rgba(100, 100, 225, 0.25)), color-stop(66.10169%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(0, 0, 0, 0)), color-stop(67.79661%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(100, 100, 225, 0.25)), color-stop(74.57627%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(0, 0, 0, 0)), color-stop(76.27119%, rgba(100, 100, 225, 0.25)), color-stop(83.05085%, rgba(100, 100, 225, 0.25)), color-stop(83.05085%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(0, 0, 0, 0)), color-stop(84.74576%, rgba(100, 100, 225, 0.25)), color-stop(91.52542%, rgba(100, 100, 225, 0.25)), color-stop(91.52542%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(0, 0, 0, 0)), color-stop(93.22034%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.77966%, rgba(0, 0, 0, 0) 6.77966%, rgba(0, 0, 0, 0) 8.47458%, rgba(100, 100, 225, 0.25) 8.47458%, rgba(100, 100, 225, 0.25) 15.25424%, rgba(0, 0, 0, 0) 15.25424%, rgba(0, 0, 0, 0) 16.94915%, rgba(100, 100, 225, 0.25) 16.94915%, rgba(100, 100, 225, 0.25) 23.72881%, rgba(0, 0, 0, 0) 23.72881%, rgba(0, 0, 0, 0) 25.42373%, rgba(100, 100, 225, 0.25) 25.42373%, rgba(100, 100, 225, 0.25) 32.20339%, rgba(0, 0, 0, 0) 32.20339%, rgba(0, 0, 0, 0) 33.89831%, rgba(100, 100, 225, 0.25) 33.89831%, rgba(100, 100, 225, 0.25) 40.67797%, rgba(0, 0, 0, 0) 40.67797%, rgba(0, 0, 0, 0) 42.37288%, rgba(100, 100, 225, 0.25) 42.37288%, rgba(100, 100, 225, 0.25) 49.15254%, rgba(0, 0, 0, 0) 49.15254%, rgba(0, 0, 0, 0) 50.84746%, rgba(100, 100, 225, 0.25) 50.84746%, rgba(100, 100, 225, 0.25) 57.62712%, rgba(0, 0, 0, 0) 57.62712%, rgba(0, 0, 0, 0) 59.32203%, rgba(100, 100, 225, 0.25) 59.32203%, rgba(100, 100, 225, 0.25) 66.10169%, rgba(0, 0, 0, 0) 66.10169%, rgba(0, 0, 0, 0) 67.79661%, rgba(100, 100, 225, 0.25) 67.79661%, rgba(100, 100, 225, 0.25) 74.57627%, rgba(0, 0, 0, 0) 74.57627%, rgba(0, 0, 0, 0) 76.27119%, rgba(100, 100, 225, 0.25) 76.27119%, rgba(100, 100, 225, 0.25) 83.05085%, rgba(0, 0, 0, 0) 83.05085%, rgba(0, 0, 0, 0) 84.74576%, rgba(100, 100, 225, 0.25) 84.74576%, rgba(100, 100, 225, 0.25) 91.52542%, rgba(0, 0, 0, 0) 91.52542%, rgba(0, 0, 0, 0) 93.22034%, rgba(100, 100, 225, 0.25) 93.22034%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  /* line 93, ../sass/screen.sass */
  #main {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 95, ../sass/screen.sass */
  #main #content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 97, ../sass/screen.sass */
  #main #sidebar-first {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 74em) {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.40541%, rgba(100, 100, 225, 0.25)), color-stop(5.40541%, rgba(0, 0, 0, 0)), color-stop(6.75676%, rgba(0, 0, 0, 0)), color-stop(6.75676%, rgba(100, 100, 225, 0.25)), color-stop(12.16216%, rgba(100, 100, 225, 0.25)), color-stop(12.16216%, rgba(0, 0, 0, 0)), color-stop(13.51351%, rgba(0, 0, 0, 0)), color-stop(13.51351%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(100, 100, 225, 0.25)), color-stop(25.67568%, rgba(100, 100, 225, 0.25)), color-stop(25.67568%, rgba(0, 0, 0, 0)), color-stop(27.02703%, rgba(0, 0, 0, 0)), color-stop(27.02703%, rgba(100, 100, 225, 0.25)), color-stop(32.43243%, rgba(100, 100, 225, 0.25)), color-stop(32.43243%, rgba(0, 0, 0, 0)), color-stop(33.78378%, rgba(0, 0, 0, 0)), color-stop(33.78378%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(100, 100, 225, 0.25)), color-stop(45.94595%, rgba(100, 100, 225, 0.25)), color-stop(45.94595%, rgba(0, 0, 0, 0)), color-stop(47.2973%, rgba(0, 0, 0, 0)), color-stop(47.2973%, rgba(100, 100, 225, 0.25)), color-stop(52.7027%, rgba(100, 100, 225, 0.25)), color-stop(52.7027%, rgba(0, 0, 0, 0)), color-stop(54.05405%, rgba(0, 0, 0, 0)), color-stop(54.05405%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(100, 100, 225, 0.25)), color-stop(66.21622%, rgba(100, 100, 225, 0.25)), color-stop(66.21622%, rgba(0, 0, 0, 0)), color-stop(67.56757%, rgba(0, 0, 0, 0)), color-stop(67.56757%, rgba(100, 100, 225, 0.25)), color-stop(72.97297%, rgba(100, 100, 225, 0.25)), color-stop(72.97297%, rgba(0, 0, 0, 0)), color-stop(74.32432%, rgba(0, 0, 0, 0)), color-stop(74.32432%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(100, 100, 225, 0.25)), color-stop(86.48649%, rgba(100, 100, 225, 0.25)), color-stop(86.48649%, rgba(0, 0, 0, 0)), color-stop(87.83784%, rgba(0, 0, 0, 0)), color-stop(87.83784%, rgba(100, 100, 225, 0.25)), color-stop(93.24324%, rgba(100, 100, 225, 0.25)), color-stop(93.24324%, rgba(0, 0, 0, 0)), color-stop(94.59459%, rgba(0, 0, 0, 0)), color-stop(94.59459%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  /* line 102, ../sass/screen.sass */
  #main {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 104, ../sass/screen.sass */
  #main #content {
    width: 72.97297%;
    float: left;
    margin-right: 1.35135%;
  }
  /* line 106, ../sass/screen.sass */
  #main #sidebar-first {
    width: 25.67568%;
    float: right;
    margin-right: 0;
  }
}
/* line 109, ../sass/screen.sass */
#main #content {
  border: 1px solid #999999;
  -webkit-box-shadow: #cccccc 1px 1px 6px;
  -moz-box-shadow: #cccccc 1px 1px 6px;
  box-shadow: #cccccc 1px 1px 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: white;
  padding: 12px;
  margin: 12px 0 12px 0;
}

/* line 118, ../sass/screen.sass */
a:link, a:visited {
  color: black;
}
/* line 120, ../sass/screen.sass */
a:active {
  color: #990000;
}
/* line 122, ../sass/screen.sass */
a:hover {
  color: #333333;
}

/* Titles. */
/* line 127, ../sass/screen.sass */
h1, h2, .content-title, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 130, ../sass/screen.sass */
h1 {
  font-size: 1.8em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
  font-family: "Fredoka One";
  color: #009470;
}

/* //  @include text-shadow(rgba(black, 1) -1px -1px 0, rgba(black, 1) 1px -1px 0, rgba(black, 1) -1px 1px 0, rgba(black, 1) 1px 1px 0) */
/* line 141, ../sass/screen.sass */
h2, .content-title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.75em;
  color: #009470;
}

/* line 150, ../sass/screen.sass */
h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* line 154, ../sass/screen.sass */
h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-style: oblique;
}

/* line 160, ../sass/screen.sass */
h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 165, ../sass/screen.sass */
h6 {
  font-size: 1em;
  font-style: oblique;
}

/* Paragraph styles. */
/* line 170, ../sass/screen.sass */
p {
  margin: 0 0 1em 0;
}

/* line 173, ../sass/screen.sass */
.book-navigation {
  margin: 10px;
}
/* line 175, ../sass/screen.sass */
.book-navigation .menu {
  margin: 20px 0;
}
/* line 177, ../sass/screen.sass */
.book-navigation .page-links {
  padding: 10px;
}

/* line 180, ../sass/screen.sass */
hr {
  color: #009470;
  background-color: #009470;
  height: 1px;
  -webkit-box-shadow: #333333 1px 1px 2px;
  -moz-box-shadow: #333333 1px 1px 2px;
  box-shadow: #333333 1px 1px 2px;
  margin: 10px 0;
  border: 0;
}

/* line 188, ../sass/screen.sass */
blockquote {
  margin: 1em 3em;
  padding: 0.5em 1em;
  border-left: 5px solid #fce27c;
  background-color: #f6ebc1;
}
/* line 193, ../sass/screen.sass */
blockquote p {
  margin: 0;
}

/* line 196, ../sass/screen.sass */
input.form-text, input.form-submit {
  font-size: 100%;
  font-weight: bold;
  padding: 4px;
}

/* line 201, ../sass/screen.sass */
#edit-search-block-form--2 {
  width: 100%;
}

/* line 204, ../sass/screen.sass */
input.form-submit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #009470;
  color: white;
  border: 2px solid black;
}

/* line 211, ../sass/screen.sass */
.hide, #skip-link {
  display: none;
}
