/* line 17, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, .content-title, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/screen.sass */
body {
  color: #111111;
  background: #e6fcf7;
}

/* line 14, ../sass/screen.sass */
#page-wrapper {
  font: 15px/1.7em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  border: 2px solid #333333;
  background: white url(../images/henric-bg-small.jpg) left -50px repeat-x;
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 59em) {
  /* line 14, ../sass/screen.sass */
  #page-wrapper {
    font: 13px/1.5em "Trebuchet MS", Verdana, Helvetica, sans-serif;
  }
}
@media (min-width: 482px) {
  /* line 14, ../sass/screen.sass */
  #page-wrapper {
    background: white url(../images/henric-bg.jpg) left -50px repeat-x;
  }
}
/* line 38, ../../../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 59em) {
  /* line 14, ../sass/screen.sass */
  #page-wrapper {
    max-width: 59em;
  }
}

@media (min-width: 59em) {
  /* line 26, ../sass/screen.sass */
  #header {
    width: 100%;
    float: right;
    margin-right: 0;
    clear: both;
  }

  /* line 29, ../sass/screen.sass */
  #navigation {
    width: 100%;
    float: right;
    margin-right: 0;
    clear: both;
  }

  /* line 32, ../sass/screen.sass */
  #main {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 34, ../sass/screen.sass */
  #main #content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 36, ../sass/screen.sass */
  #main #sidebar-first {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
/* line 39, ../sass/screen.sass */
#navigation {
  padding: 10px 8px;
  clear: both;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: black;
  color: white;
  font-weight: bold;
}
/* line 42, ../sass/screen.sass */
#navigation li {
  padding: 0 0.5em;
  display: block;
}
@media (min-width: 482px) {
  /* line 42, ../sass/screen.sass */
  #navigation li {
    display: inline-block;
  }
}
/* line 52, ../sass/screen.sass */
#navigation a:hover, #navigation a:visited, #navigation a:active, #navigation a:link {
  color: white;
  text-decoration: underline;
}

/* line 56, ../sass/screen.sass */
.sidebar .block {
  border: 1px solid #999999;
  padding: 6px;
  margin: 12px 0 12px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: white;
  -webkit-box-shadow: #cccccc 1px 1px 6px;
  -moz-box-shadow: #cccccc 1px 1px 6px;
  box-shadow: #cccccc 1px 1px 6px;
}
/* line 62, ../sass/screen.sass */
.sidebar .block .content {
  padding: 0 10px 10px 10px;
}
/* line 64, ../sass/screen.sass */
.sidebar .block h3, .sidebar .block h2, .sidebar .block .content-title {
  font-size: 1.3em;
  margin: 0 -6px 6px -6px;
  padding: 6px;
  border-bottom: 1px solid #009470;
}

/* line 71, ../sass/screen.sass */
#main #content {
  border: 1px solid #999999;
  -webkit-box-shadow: #cccccc 1px 1px 6px;
  -moz-box-shadow: #cccccc 1px 1px 6px;
  box-shadow: #cccccc 1px 1px 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background: white;
  padding: 12px;
  margin: 12px 0 12px 0;
}

/* line 80, ../sass/screen.sass */
#header #site-name {
  font-family: "Fredoka One";
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 2em;
  margin: 32px 0;
  font-weight: 300;
}
@media (min-width: 59em) {
  /* line 80, ../sass/screen.sass */
  #header #site-name {
    font-size: 2.6em;
    margin: 48px 0;
  }
}
/* line 88, ../sass/screen.sass */
#header #site-name a {
  color: white;
  text-decoration: none;
}

/* line 94, ../sass/screen.sass */
a:link, a:visited {
  color: black;
}
/* line 96, ../sass/screen.sass */
a:active {
  color: #990000;
}
/* line 98, ../sass/screen.sass */
a:hover {
  color: #333333;
}

/* Titles. */
/* line 103, ../sass/screen.sass */
h1, h2, .content-title, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 106, ../sass/screen.sass */
h1 {
  font-size: 1.8em;
  font-weight: 600;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 112, ../sass/screen.sass */
h2, .content-title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.75em;
  color: #009470;
}

/* line 121, ../sass/screen.sass */
h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* line 125, ../sass/screen.sass */
h4 {
  font-size: 1.1em;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-style: oblique;
}

/* line 131, ../sass/screen.sass */
h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 136, ../sass/screen.sass */
h6 {
  font-size: 1em;
  font-style: oblique;
}

/* Paragraph styles. */
/* line 141, ../sass/screen.sass */
p {
  margin: 0 0 1em 0;
}

/* line 144, ../sass/screen.sass */
hr {
  color: #009470;
  background-color: #009470;
  height: 1px;
  -webkit-box-shadow: #333333 1px 1px 2px;
  -moz-box-shadow: #333333 1px 1px 2px;
  box-shadow: #333333 1px 1px 2px;
  margin: 10px 0;
  border: 0;
}

/* line 152, ../sass/screen.sass */
blockquote {
  margin: 1em 3em;
  padding: 0.5em 1em;
  border-left: 5px solid #fce27c;
  background-color: #f6ebc1;
}
/* line 157, ../sass/screen.sass */
blockquote p {
  margin: 0;
}

/* line 160, ../sass/screen.sass */
input.form-text, input.form-submit {
  font-size: 100%;
  font-weight: bold;
  padding: 4px;
}

/* line 165, ../sass/screen.sass */
input.form-submit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #009470;
  color: white;
  border: 2px solid black;
}

/* line 172, ../sass/screen.sass */
.hide, #skip-link {
  display: none;
}
