// Import variables and mixins to be used.
@import _variables.sass
@import _mixins.sass

/* List styles.
ul, ol
  margin-left: 0
  padding-left: 2em

/* Table styles.
table
  width: 99%

tr.even,
tr.odd
  td
    padding: 10px 5px

tr.odd
  background-color: white

/* Code.
pre, code, tt
  font: 1em "andale mono", "lucida console", monospace
  line-height: 1.5

pre
  background-color: #efefef
  display: block
  padding: 5px
  margin: 5px 0
  border: 1px solid #aaaaaa

/* List styles.
ul
  list-style-type: disc
  ul
    list-style-type: circle
    ul
      list-style-type: square
      ul
        list-style-type: circle

ol
  list-style-type: decimal
  ol
    list-style-type: lower-alpha
    ol
      list-style-type: decimal

/* Abbreviation.
abbr
  border-bottom: 1px dotted #666666
  cursor: help
  white-space: nowrap

/* UI improvments.
#edit-title
  font-size: 24px
  width: 99%

#system-themes-form img
  width: 100px

.form-item .description
  font-style: italic
  line-height: 1.2em
  font-size: 0.8em
  margin-top: 5px
  color: #777777

#edit-delete
  color: #cc0000

/* Console, style from slate theme.
div.messages
  padding: 9px
  margin: 1em 0
  color: #003366
  background: #bbddff
  border: 1px solid #aaccee

div.warning
  color: #884400
  background: #ffee66
  border-color: #eedd55

div.error
  color: white
  background: #ee6633
  border-color: #dd5522

div.status
  color: #336600
  background: #ccff88
  border-color: #bbee77

/* custom style boris   */

#site-name, #site-slogan, h1, h2, h3, h4, h5, h6
  font-family: 'Fredoka One', Georgia, serif, cursive
  font-weight: normal
  text-shadow: 0 1px 1px #FFFFFF, 0 -1px #CCC

#header
  border-top: 10px solid #B7D7D5
  border-bottom: 1px dotted #CCCCCC
  height: 140px
  margin-bottom: 40px

#site-name
  text-transform: uppercase
  font-size: 2.2em
  font-weight: bold
  line-height: 1.3em
  padding: 0
  margin: 20px 0 0 0
  letter-spacing: 0.1em
  a
    &:hover, &:active, &:link, &:visited
      border-top: 5px solid #333
      text-decoration: none
      padding: 4px 0
 
#site-slogan
  font-size: 1.5em
  color: #B7D7D5

#skip
  display: none
  
body
  background: url(../images/bg-body.jpg)
  
.page-taxonomy .views-field-field-image,
.node-type-object .field-type-image .field-item
  display: inline
  img
    border: 10px #eee solid
    border-bottom: 40px #eee solid
    margin: 0 14px 0 0
    padding: 2px  
    @include shadow(#111111)
    @include rounded_corners(4px, 4px)
    
.grid-4 
  .col-1, .col-2, .col-3, .col-4
    width: 160px
    float: left
    display: inline    

// make decent css code for display text on top of image
.view-taxonomy-term
  .views-field
    position: relative
    .views-field-image
      top: 0px
    .views-field-title
      top: 20px
    h2
      font-size: 1.4em
      line-height: 1.4em
    a
      text-decoration: none
      .views-field-body
        top: 60px

#content-top-1
  .menu
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 0
      float: left
      list-style: none
      a
        color: #000
      .leaf
        color: #000

/* pager css style from http://woork.blogspot.be/2008/03/perfect-pagination-style-using-css.html */

// todo make again. this code doesnt work

.pager 
  li
    border: 0 
    margin: 0 0 0 2px
    padding: 0 
    font-size: 11px
    list-style: none
  a
    border: solid 1px #9aafe5
    margin:  0 0 0 2px
    &:link, &:visited
      color: #0e509e
      display: block
      float: left
      padding: 3px 6px
      text-decoration: none
    &:hover
      border: solid 1px #0e509e
  .next, .previous 
    a
      font-weight: bold
  .previous-off, .next-off
    border: solid 1px #DEDEDE
    color: #888888
    display: block
    float: left
    font-weight: bold
    margin-right: 2px
    padding: 3px 4px
  .active, .pager-current
    background: #2e6ab1
    color: #FFFFFF
    font-weight: bold
    display: block
    float: left
    padding: 4px 6px
